<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-left">
                        <button shiro:hasPermission="exercise:testPaperType:add" type="button"
                                class="btn  btn-primary" id="btn_new">
                            <i class="fa fa-plus" aria-hidden="true"></i>添加
                        </button>
                        <button shiro:hasPermission="exercise:testPaperType:batchRemove" type="button"
                                class="btn  btn-danger"
                                id="btn_batch_remove">
                            <i class="fa fa-trash" aria-hidden="true"></i>删除
                        </button>
                    </div>
                    <form id="searchForm">
                        <div class="columns pull-right">
                            <button class="btn btn-success" id="btn_search">查询</button>
                        </div>
                        <div class="columns pull-right col-md-2 nopadding">
                            <input id="searchName" type="text" class="form-control"
                                   placeholder="">
                        </div>
                    </form>
                </div>
                <table id="testPaperTypeTable" data-mobile-responsive="true">
                    <tr style="display: none;" checkbox="true">
                        <td field="exerciseTitle" title="试卷题目"></td>
                        <td field="exerciseType" title="试题类型(01选择题（单选），02填空题，03判断题，04主观题)"></td>
                        <td field="id" title="操作">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<input type="hidden" name="s_permission" shiro:hasPermission="exercise:testPaperType:edit" value="s_edit_h">
<input type="hidden" name="s_permission" shiro:hasPermission="exercise:testPaperType:remove" value="s_remove_h">
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/exercise/testPaperType/testPaperType.js"></script>
</body>
</html>