<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.exercise.dao.TestPaperScoreExpDao">

    <select id="getSumScore" resultType="int">
			select sum(t.score) from exercise_test_paper_score t where t.batch_id=#{0}
	</select>


</mapper>