package ${package}.service;

import ${package}.domain.${className}DO;

import java.util.List;
import java.util.Map;
import com.bootdo.base.service.BaseService;
/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service extends BaseService<${className}DO,String>{
	
}
