<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-left">
                        <button shiro:hasPermission="front:froUser:add" type="button" class="btn  btn-primary"
                                id="btn_new">
                            <i class="fa fa-plus" aria-hidden="true"></i>添加用户
                        </button>
                        <button shiro:hasPermission="front:froUser:batchRemove" type="button" class="btn  btn-danger"
                                id="btn_batch_remove">
                            <i class="fa fa-trash" aria-hidden="true"></i>批量删除
                        </button>
                    </div>
                    <form id="searchForm">
                        <div class="columns pull-right">
                            <button class="btn btn-success" id="btn_search">查询</button>
                        </div>
                        <div class="columns pull-right col-md-2 nopadding">
                            <input id="searchName" type="text" class="form-control"
                                   placeholder="">
                        </div>
                    </form>
                </div>
                <table id="exampleTable" data-mobile-responsive="true">
                    <tr style="display: none;" checkbox="true">
                        <td field="userNo" title="用户编码"></td>
                        <td field="userName" title="姓名"></td>
                        <td field="password" title="密码"></td>
                        <td field="age" title="年龄"></td>
                        <td field="phone" title="手机号"></td>
                        <td field="email" title="邮箱"></td>
                        <td field="idno" title="身份证号"></td>
                        <td field="headPortrait" title="头像"></td>
                        <td field="address" title="家庭住址"></td>
                        <td field="id" title="操作">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<input type="hidden" name="s_permission" shiro:hasPermission="front:froUser:edit" value="s_edit_h">
<input type="hidden" name="s_permission" shiro:hasPermission="front:froUser:remove" value="s_remove_h">
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/front/froUser/froUser.js"></script>
</body>
</html>