<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.front.dao.FroUserExpDao">

	<select id="getByNameAndPwd" resultType="int">
		SELECT  count(*)  FROM front_fro_user t
		 <where>
			 <if test="userName != null and userName != ''"> and user_name = #{userName} </if>
			 <if test="password != null and password != ''"> and password = #{password} </if>
		 </where>
	</select>


</mapper>